/*css styling, coded by Selim Elsaify for techgrounds */
/* default styling */
html{font-size:100%}
body{font-family:Raleway,sans-serif;
    max-width:1300px;
    min-width:375px;
     background-image: linear-gradient(white, lightgray); 
    box-sizing: border-box; 
}
*{-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
     box-sizing: border-box
}
img{
    max-width: 100%;
    height: auto
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-weight:800; 
    color: green;
    padding-bottom: 0.5rem;
    border: none; 
    outline:0; 
}
h1{
    font-size: 1.5em; 
}
h2{
    font-size: 1.2em; 

}
h3{
    font-size: 1em; 
}
h4{
    font-size: 0.9em; 
}

h5{
    font-size: 0.7em; 
}

h6{
    font-size: 0.4em; 
}
ul {
    list-style-type: square;
}

.clearfix:after{
    content:" ";
    visibility:hidden;
    display:block;
    font-size:0;
    height:0;
    clear:both
}
.imgleft{
    float:left;
    margin-right:10px;
}
.imgright{
    float:right;margin-left:10px;
}
.selected{
    background:#71a9b7;
}
/* JS foutemeldingen */
 .noJS{
    display: inline-block;
    background-image: url("../images/loading.gif"); 
    background-repeat: no-repeat; 
    background-size: 10%; 
    background-position: top right; 
    width: 100%; 
    height: 150px; 
   }

.noJS h1{
 margin-bottom: 2.5rem; 
}

.noJS a {
    color: aqua; 
    text-transform: uppercase;
    text-decoration: underline; 
    font-weight: bolder; 
    cursor: pointer; 
}
.yesJS{
    display:none}

span.fa{padding:0 .5rem 0 0;
    font-size:.5rem;
    vertical-align:middle
}
span.fa.fa-exclamation-circle{
    color:#000}
span.fa.fa-check-circle{
    color:#adff2f}

a [href$=".pdf"]{
    background:transparent url(grfx/logo-icons/pdf-icon.gif) no-repeat center center;
    padding-left:20px;
}

hr {
    width: 90%; 
    height: 2px; 
    border: 1px solid #418C9F;
    border-radius: 5px; 
    outline: none;
    clear: both;
    margin: 10px; 
}
p {
 
    font-size: 0.9rem; 
    font-weight: normal;
    line-height: 1rem; 
    padding: 0; 
  }

/*links stying */ 
a:link, a:visited{
 text-decoration: none;
 font-size: 0.8rem; 
 cursor: pointer; 
 
}

a:hover, a:active{
 color: white;
 text-decoration: underline;
 font-size: 1rem;
 font-weight: bolder; 
}

/*button stying */ 
 a.button {
    display: block;
    width: 130px;
     height: 30px; 
     
    background-color: #D98A3F;
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
    border: 1px solid white;
    margin-left: 225px; 
    margin-top: 15px; 
    border-radius: 5px;
    outline: none;
  }
  a.button:hover {
    border: 1px solid rgba(102, 0, 0, 0.5);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white; 
    background-color: rgb(255, 102, 255); 
}


/* main styling */ 
main{
width: 100%;
margin: 0 auto; 
   }
header {
    width: 100%; 
    height: 3em; 
  }
/*languages bar */ 
.talen{
    font-weight: bold; 
    padding: 0.1rem 
    
}

/* NAV styling */
main nav{
    height: 40px; 
    width: 100%; 
    margin-bottom: 2rem; 
    position: fixed;
    background-image: linear-gradient(45deg, rgba(252, 219, 3,0.6), rgba(194, 252, 3,0.8), rgba(194, 3, 252), rgba(252, 3, 157)); 
}
main nav ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    border: none; 
    text-align: right;
    font-size: 18px; 
    font-weight: bolder; 
  }

main nav ul li{
    display: inline-block;
    padding: 0.6rem 0.7rem; 
}

main nav ul li a {
    padding: 0 0.5rem; 
     color: white;
     font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    display: block;
    text-align: center;
    text-transform: capitalize;
  }
main nav ul li:last-child{
margin-right: 0.8rem; 
}
  main nav ul li a:hover {
    background-color: white;
    color: #005369;
    text-transform: uppercase;
}

/* UL childeren styles */
ul > li{
    color: blue; 
    font-weight: bold; 
}
ol > li{
    color: violet;
    font-size: 1rem; 
    text-decoration: underline; 
}
#man p{
    color: blue;
    background-color: transparent;
}
.center p{
    text-decoration: underline;
    text-underline-position: 5px; 
    background-color: lightgrey;
}

div + p{
    background-color: gold; 
    font-size: 18px;
}

div ~ p{
    background-color: lightgreen; 
    font-size: 18px;
}

#boxModel{
    background-color: lightgreen; 
    color: brown;
    padding: 0.5rem; 
    margin: 0.8rem; 
    box-sizing: border-box;
}

#boxModel p {
    background-color: yellow; 
    padding: 0.3rem; 
    margin: 1rem; 
    border: 1px solid blue;
   
}

#boxModel span {
    background-color: white; 
    padding: 0.1rem; 
    font-weight: bold; 

}
.blok p{
    width: 100px; 
    height: 100px; 
    padding: 5px
    margin: 5px;
    border: 5px solid black;
    text-align: center;
}
#dispalyPosition{
    background-color: inherit;
}

#dispalyPosition p {
    background-color: inherit;
    color: black; 
}
.greece{
    width: 100%; 
    height: 450px; 
    background-image: url("../images/greece-sun.jpg");
    background-position: top; 
    background-size: scale-down; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    background-clip: border-box;
    position: relative;
    border: 1px solid blue; 
    border-radius: 10px; 
 }
 .greece > img{
    width: 100%; 
 }

.greece h3{
 position: absolute;
 top: 100px;
 left: 90px; 
 color: gold; 
}

.greece h4{
 position: absolute;
 top: 120px;
 left: 100px; 
 color: gold; 
}
.greece:hover{ 
border: 2px solid yellow;
border-radius: 50px; 
}

/* opdracht 8*/ 
.opdracht8{
    width: 70%; 
    height: 290px; 
    background-image: url("../images/mainimg.jpg");
    background-position: 20% 30%; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    position: relative;
    float: left; 
    clear: right; 
    margin-bottom: 0.5rem; 
 
 }
 .opdracht8 h4{ 
    color: black; 
    height: 30px; 
    width: 90%; 
    background-color: yellow; 
    padding: 10px; 
    margin-left: 10px; 
    position: absolute;
    top: 20px; 
    left: 30px; 
 }

 .opdracht8 p{
    color: white; 
    font-weight: bolder;
    background-color: white !important; 
    width: 40%; 
    height: 30px; 
    top: 60px;
    left: 60px; 
    padding: 5px;
    position: absolute;
  }
.under{
    font-size: 0; 
    height: 30px; 
    width: 50px; 
    background-color: yellow; 
    margin-top: 40px; 
    display: inline-block;
   
}
/* pseudo elemtns styling*/

#pseudoElements p{
    background-color: transparent;
    padding: 15px; 
}
#pseudoElements{
    text-align: center;
    border: 5px solid salmon;
    padding: 15px;
    margin: 1rem; 
    color: white; 
    position: relative;
    z-index: 1; 


}
#pseudoElements ::before{
    content: "";
    position: absolute;
    z-index: -1; 
    top: 10px; 
    bottom: 10px;
    left: 10px; 
    right: 10px; 
    border: 5px dashed green;
  

}
#pseudoElements ::after{
    content: "";
    position: absolute;
    z-index: -1; 
    top: 5px; 
    bottom: 5px;
    left: 5px; 
    right: 5px; 
    border: 5px solid blue;
 

}

#pseudoElements ::after{
    content: "";
    position: absolute;
    z-index: -1; 
    top: 20px; 
    bottom: 20px;
    left: 20px; 
    right: 20px; 
    border: 5px dotted red;
  }

  #pseudoElements p::before{
    content: "";
    position: absolute;
    z-index: -1; 
    top: 20px; 
    bottom: 20px;
    left: 20px; 
    right: 20px; 
    border: 5px dashed green;
   background: blue;

}

#pseudoElements p::first-letter{
 color: gold; 
 font-size: 3em; 

}

  ::selection {
    background-color: blue; 
    color: yellow;
    cursor: progress;
    outline: red; 
}
.grammar p ::grammar-error  {
  text-decoration: underline red;
  color: red;
  background-color: transparent;
}

/*
.buttons h2 {
    width: 50%;
    height: 50px; 
    background-color: yellow; 
    margin-left: 150px; 
    border: none;
    position: relative;
}
/* creating vertical lines*/ 
/* vertical line  
.buttons h2 ::after {
    content:'';
    position: absolute;
    background-color: orange;
    width: 30%;
    height: 5px;
    top: 0;
    left: 0;

}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  width: 150px;
  margin: auto;
  line-height: 2;
}
.top-and-bottom, .left-and-right, .corner-border, .bottom-corner {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;

}

/* top line */
.grammar h4{
     font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 400px;
  height: 50px; 
  margin: auto;
   color: black; 
  background-color: gold; 
}


/* vertical line */
.corner-border h4::after {
  content:'';
  position: absolute;
  background-color: pink;
  width: 3px;
  height: 60%;
  top: 0;
  left:-15px;
 
}

/* horizontal line */
.corner-border h4::before {
  content:'';
  position: absolute;
  background-color: pink;
  width: 20%;
  height: 3px;
  top: 0;
  left:-12px;
 
}

/* vertical line */
.bottom-corner h4::after {
  content:'';
  position: absolute;
  background-color: #85C1E9;
  width: 3px;
  height: 50%;
  bottom: 0;
  right: 45px;
 
}
/* horizontal line */
.bottom-corner h4::before {
  content:'';
  position: absolute;
  background-color: #85C1E9;
  width: 20%;
  height: 3px;
  bottom: 0;
  right: 45px;
 
}

/* horizontal line */

/*
.buttons h2 ::before {
    content:'';
    position: absolute;
    background-color: orange;
    width: 30%;
    height: 5px;
    top: 0;
    left: 0;

}
*/ 
/* footer styling*/

footer{
 width: 100%; 
 height: 60px; 
 margin: 1.2rem 0.3rem; 
clear: both; 
} 

footer p {
    font-size: 8px; 
    text-align: center;
   }
footer ul{
    width: 100%; 
    height: 40px;
     text-align: right; 
 }
footer ul li{
     display: inline-block; 
    background-color: transparent;
    font-weight: bold;
       
     }
footer ul li a{
     display: block; 
      font-size: 1.2em; 
    padding: 0.4rem;
 

      }
footer p a:link{
 color: blue;
 text-decoration: underline;
 text-decoration-color: violet; 
 text-decoration-style: wavy;
}












